$navbar-transition: top $transition-toggler ease-in;

.navbar-collapse.collapse {
    display: block !important;
    background-color: $dark;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: $zindex-fixed;
    transition: $navbar-transition;
}

.navbar-collapse.collapsing {
    display: block !important;
    background-color: $dark;
    height: 100vh !important;
    position: fixed;
    top: -0;
    left: 0;
    z-index: $zindex-fixed;
    transition: $navbar-transition;
}

.navbar-collapse.collapse.show {
    background-color: $dark;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-fixed;
    transition: $navbar-transition;

}