// mixin for sidebar

@mixin rightsidebarstyles {
    @extend .p-3;
    @extend .mb-5;
    @extend .secondary-neumorph;
    max-width: 100% !important;
}

//main sidebar
.widget {
    #right-sidebar {
        @include rightsidebarstyles;
    }

    //margins
    form#searchform {
        padding-bottom: 0;
    }
    
    form#searchform,
    .widget-area,
    .card-deck .card {
        @extend .mb-5;
    }


    .card-deck .card {
        width: 100%;
        flex: unset;
        margin: 0 !important;
    }
}

/*CUSTOM STYLES*/
.widget {
    @include rightsidebarstyles;
}

.addrightsidebar,
.widget-area {

    .card-deck .card-footer,
    .card-text {
        display: none;
    }

    .widget-title {
        color: $secondary !important;
        background-color: $primary;
        border-radius: $border-radius;
        @extend h6;
        padding: $card-inner-padding;
        @include card-title-styles;
    }

}

.post-categories li:not(:first-child) {
    display: none;
}