/*HEADER STYLES*/
.mmu-header-main-1 {
  #masthead {
    background-color: $light;
  }
  .site-header {
    @extend %mt-0;
    @extend %navbar-light;
    @extend %sticky-top;
  }

  .navbar-expand-lg {
    @extend %px-lg-5;
    @extend %mx-lg-2;
  }

  #masthead a {
    color: $primary !important;
  }

  /*mobile header*/
  .collapsing {
    display: none;
  }

  .collapse.show {
    height: 100vh !important;
    -webkit-animation-name: fade;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: fade;
    animation-duration: 4s;
  }

  .collapse.show ui {
    width: 100% !important;
  }

  .collapse.show li {
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
    font-size: 34px;
    transition: ease;
    border-radius: 20px;
  }

  /*brand-logo*/

  @media screen and (min-width: 1000px) {
    .navbar-brand {
      width: 16% !important;
    }
  }

  @media screen and (max-width: 999px) {
    .navbar-brand {
      max-width: 50% !important;
    }
  }
}
