/* used header design in melaniemueller.design
* Style for 
*header_main_5.php
*/

 @import "toggler/child_theme_main_toggler_2";
    //@import "brand/logo/brand_and_logo_main_1";
    @import "brand/logo/brand_and_logo_main_3";

    @import "navbar/navbar_3";
.mmu-header-main-5 {

    backdrop-filter: blur(3px);

   

    .img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 2em;
    width: auto;
    padding: 0.3em;

    }

}