/**/
/*mobile header*/
.collapsing {
  display: none;
}
.collapse.show {
    height: 100vh!important;
    -webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: fade;
    animation-duration: 4s;
}

.collapse.show ui {
    width: 100% !important;
}

.collapse.show li {
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
    font-size: 34px;
    transition: ease;
    border-radius: 20px;
}


/*neumorphism*/

$neumorphism-darken-lighten: 8%;
$neumorphism-blur: 7px;
$neumorphism-distance: 19px;
$neumorphism-insensity: 1.2;
$box-shadow-light: rgba(255,255,255,0.20*$neumorphism-insensity);
$box-shadow-dark:  rgba(217,210,200,0.51*$neumorphism-insensity);

$primary-lighten: lighten( $primary, $neumorphism-darken-lighten);
$primary-darken: darken( $primary, $neumorphism-darken-lighten);

$secondary-lighten: lighten( $secondary, $neumorphism-darken-lighten);
$secondary-darken: darken( $secondary, $neumorphism-darken-lighten);

$info-lighten: lighten( $info, $neumorphism-darken-lighten);
$info-darken: darken( $info, $neumorphism-darken-lighten);

$success-lighten: lighten( $success, $neumorphism-darken-lighten);
$success-darken: darken( $success, $neumorphism-darken-lighten);


.primary-neumorph,
.primary-neumorph:focus,
.primary-neumorph:hover {
  border-color:  $primary-lighten !important;
  background: linear-gradient(145deg, $primary-lighten, $primary-darken)!important;
  box-shadow: $neumorphism-distance $neumorphism-distance $neumorphism-blur $box-shadow-dark !important,
            -$neumorphism-distance -$neumorphism-distance $neumorphism-blur $box-shadow-light!important;
}

.white-neumorph-hover,
.white-neumorph,
.white-neumorph:focus,
.white-neumorph:hover {
  border-color: $secondary-lighten !important;
  background: linear-gradient(145deg, $secondary-lighten, $secondary-darken) !important;
  box-shadow: $neumorphism-distance $neumorphism-distance $neumorphism-blur $box-shadow-dark !important,
            -$neumorphism-distance -$neumorphism-distance $neumorphism-blur $box-shadow-light !important;
}

.grey-neumorph,
.grey-neumorph:focus,
.grey-neumorph:hover {
  border-color:  $info-lighten !important;
  background: linear-gradient(145deg, $info-lighten, $info-darken)!important;
  box-shadow: $neumorphism-distance $neumorphism-distance $neumorphism-blur $box-shadow-dark !important,
            -$neumorphism-distance -$neumorphism-distance $neumorphism-blur $box-shadow-light !important;
}

.success-neumorph,
.success-neumorph:focus,
.success-neumorph:hover {
  border-color:  $success-lighten !important;
  background: linear-gradient(145deg, $success-lighten, $success-darken)!important;
  box-shadow: $neumorphism-distance $neumorphism-distance $neumorphism-blur $box-shadow-dark !important,
            -$neumorphism-distance -$neumorphism-distance $neumorphism-blur $box-shadow-light !important;
}
