// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere



/*font family*/
$font-family-base: Raleway;

/*Colors*/
$white:     #F2F4F3;
$primary:   #C8689A;
$secondary: #F2F4F3;
$success:   #2D3142;
$info:      #B2B4BA;
$warning:   #2D3142;
$danger:    #2D3142;
$light:     rgba(250,250,250,0.7);
$dark:      #0A090C;

$body-bg:          $secondary;
$body-color:       $dark;

/*border-style*/
$borderradius: 10px;

/*enable*/
$enable-gradients: true;
$enable-transitions: true;
$enable-shadows: true;
