/* Import bootstrap-sass so that we have access to all of its selectors */
@import "../sass/assets/bootstrap4"; // <------- Loads Bootstrap4

.home .card.post {
    @extend %p-2;
    @extend %m-1;
    @extend %secondary-neumorph;
}

.home .card.post .card-body {
    padding: 0;
    margin-top: 1em;
}

.home .card img {
    border-radius: $border-radius;
}