html {
    overflow-x: hidden;
}
//code

.wp-block-code {
    white-space: initial;
    background-color: $body-color;
    color: $body-bg;
    border-radius: $border-radius;
    @extend %p-3;
}

//RSS

li.wp-social-link {
    background-color: $primary !important;
}

//Search
.wp-block-search {
    @extend %my-3;
}

input.wp-block-search__input {
    @extend %secondary-neumorph-active;
    border-radius: $border-radius;
}

.wp-block-search__button {
    @extend %btn;
    @extend %btn-primary;
    border-radius: $border-radius;
}

.wp-block-search__label {
    @extend %h4;
}



//custom gutenberg styles

@each $name,
$color in $theme-colors {

    .has-text-color.has-#{$name}-color {
        color: $color;
    }

    .has-text-color.has-#{$name}-background-color {
        background-color: $color;
    }

    .has-inline-color.has-#{$name}-color {
        color: $color;
    }
}