/*
*
*Neumorphism Buttons*/

//primary button
.primary-neumorph,
.primary-neumorph:hover,
.primary-neumorph:visited,
.primary-neumorph:focus {
  border-color: transparent;
  outline: 0 none;
  background: $primary;
  //transition: box-shadow 0.3s ease-in-out;
  box-shadow: $neumorphism-distance $neumorphism-distance $neumorphism-blur $primary-box-shadow-dark,
    (-$neumorphism-distance) (-$neumorphism-distance) $neumorphism-blur $primary-box-shadow-light;
}

.primary-neumorph:active {
  border-color: $primary;
  background: $primary;
  box-shadow: inset $neumorphism-distance $neumorphism-distance $neumorphism-blur $primary-box-shadow-dark,
    inset (-$neumorphism-distance) (-$neumorphism-distance) $neumorphism-blur $primary-box-shadow-light;
}

//secondary button

@mixin secondary-neumorph {
  border-color: transparent;
  outline: 0 none;
  background: $secondary;
  border-radius: $border-radius;
  //transition: box-shadow 0.3s ease-in-out;
  box-shadow: $neumorphism-distance $neumorphism-distance $neumorphism-blur $secondary-box-shadow-dark,
    (-$neumorphism-distance) (-$neumorphism-distance) $neumorphism-blur $secondary-box-shadow-light !important;
  transition-duration: 0.3s;
}

@mixin secondary-neumorph-active {
  border-color: transparent !important;
  background: $secondary !important;
  box-shadow: inset $neumorphism-distance $neumorphism-distance $neumorphism-blur $secondary-box-shadow-dark,
    inset (-$neumorphism-distance) (-$neumorphism-distance) $neumorphism-blur $secondary-box-shadow-light !important;
}

.secondary-neumorph:active {
  @include secondary-neumorph-active;
}

.secondary-neumorph,
.secondary-neumorph:visited,
.secondary-neumorph:focus {
  @include secondary-neumorph;
}

.secondary-neumorph:hover:not(.btn) {
  transform: translateX(0px) translateY(-20px) !important;
}



//success button
.success-neumorph,
.success-neumorph:hover:visited:focus

/*.success-neumorph:visited,
.success-neumorph:focus*/
  {
  border-color: transparent;
  outline: 0 none;
  background: $success;
  //transition: box-shadow 0.3s ease-in-out;
  box-shadow: $neumorphism-distance $neumorphism-distance $neumorphism-blur $success-box-shadow-dark,
    (-$neumorphism-distance) (-$neumorphism-distance) $neumorphism-blur $success-box-shadow-light;
}

.success-neumorph:active {
  border-color: $success;
  background: $success;
  box-shadow: inset $neumorphism-distance $neumorphism-distance $neumorphism-blur $success-box-shadow-dark,
    inset (-$neumorphism-distance) (-$neumorphism-distance) $neumorphism-blur $success-box-shadow-light;
}

//Style Links in Buttons
.success-neumorph a,
.success-neumorph a:hover:visited:focus:active {
  color: $secondary !important;
  text-decoration: none !important;
}

/*----------------------------------------*/

//card styles

@mixin card-main-styles {
  @include secondary-neumorph;
  padding: $card-inner-padding;
}

@mixin card-image-styles {
  border-radius: $border-radius;
  padding: $card-inner-padding !important;
  @extend .card-img;
  object-fit: cover;
}

@mixin card-category-styles {
  @extend a;
  @extend .card-header;
}

@mixin card-title-styles {
  color: $body-color;
  font-weight: $font-weight-normal !important;
  text-transform: capitalize;
  @extend .mb-3;
  @extend .card-title;
  @extend h5;
}