//standard bootstrap buttons
.btn.secondary-neumorph {
    font-weight: 700;
    font-size: larger;
    @extend %my-4;
    @extend %px-4;
    @extend %py-3;
    @extend %py-3;
}

//set the hover-buttons
@mixin hover-button-colors($primary: true) {
  @if $primary {
    background: $dark;
    border-color: $dark;
  } @else {
    background: $primary;
    border-color: $primary;
  }
}

@mixin hover-button-outline-colors($primary: true) {
  @if $primary {
    color: $dark;
    border-color: $dark;
  } @else {
    color: $primary;
    border-color: $primary;
  }
}

//buttons
@each $name,
$color in $theme-colors {

    .is-style-fill .rich-text.wp-block-button__link.has-#{$name}-background-color,
    .is-style-fill .has-#{$name}-background-color {
        @extend %btn;
        @extend %btn-#{$name};
        border-color: transparent;
        @extend %btn-lg;
        @extend %mt-3;
        text-transform: inherit;
        color: $body-bg;
        background: #{$color};
        box-shadow: none;
        font-weight: bold !important;
        font-family: $font-family-base;


        &:hover,
        &:focus,
        &:active,
        &:focus-within,
        &:focus-visible
         {
            @include hover-button-colors(#{$name});
            font-weight: bold !important;
            font-family: $font-family-base;
        }

    }

    .is-style-outline .rich-text.wp-block-button__link.has-#{$name}-background-color,
    .is-style-outline .has-#{$name}-background-color {
        @extend %btn;
        @extend %btn-outline-#{$name};
        @extend %btn-lg;
        @extend %mt-3;
        text-transform: inherit;
        font-family: $font-family-base;

        &:hover,
        &:focus,
        &:active,
        &:focus-within,
        &:focus-visible
         {
            @include hover-button-outline-colors(#{$name});
            font-weight: bold !important;
            font-family: $font-family-base;
        }
    }
}


