// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//fontawesome
$fa-font-path:        "../custom/localfont/fontawesome";


/*font family*/
$font-family-base: Raleway;
$font-weight-normal: 300 !important;
$line-height-base: 1.8 !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$line-height-base: 1.6 !default;
$letter-spacing: 0.5px;


$headings-font-weight: 300 !important;
$h1-font-size: $font-size-base * 4.5 !default;
$h2-font-size: $font-size-base * 3 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

/*Colors*/
$white: #FBFBFD;
$primary: #C8689A; //rosa
$secondary: #FBFBFD; //white
$success: #2D3142; //blue
$info: #B2B4BA; //grey
$warning: #2D3142;
$danger: #2D3142;
$light: #FBFBFD;
$dark: #2D3142;



$body-bg: $secondary;
$body-color: $dark;



/*border-style*/
$border-radius: 0.5rem;

/*enable*/
$enable-gradients: false;
$enable-transitions: true;
$enable-shadows: true;
$enable-responsive-font-sizes: true;


/*
*
*Neumorphism Buttons*/

//Neumorphism variables
$neumorphism-blur: 12px; //12 blur intensitiy ideal
$neumorphism-distance: 5px; //distance
$neumorphism-insensity: 0.8; //max 1

//box shadow
$box-shadow-intensity: 10%;